.c-article--md{
    max-width: rem(410px);
}

.c-article--lg{
    max-width: rem(425px);
}

.c-article-info{
    font-size: rem(14px);
    font-weight: 500;
}

.c-article-info__type{
    font-weight: 700;
}
